:root {
  --base-color: #171717;
  --secondary-color: #a1460e;
  --action-color: #cc6d3d;
  --layover-color: #d2e1f36c;
}

body {
  margin: 0;
  height: 125vh;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-areas:
    "main main header"
    "main main models"
    "classics new-era models"
    "footer footer models";
  height: 115vh;
  gap: 0.5em;
  margin: 1em;
  color: white;
  border-radius: 3px;
}

header {
  grid-area: header;
  background-color: var(--secondary-color);
  background-image: url(../images/harley.jpg);
  background-blend-mode: screen;
  font-size: 12px;
}

main {
  border-radius: 3px;
  border: 1px solid lightgray;
  grid-area: main;
  background-color: var(--base-color);
  background-image: url(../images/car1.jpeg);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

main:hover {
  border-radius: 3px;
  border: 1px solid lightgray;
  grid-area: main;
  background-color: var(--base-color);
  background-image: url(../images/car1.jpeg);
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  opacity: 0.7;
  cursor: pointer;
}

#classics {
  grid-area: classics;
  background-color: var(--layover-color);
  background-image: url(../images/car5.webp);
  background-blend-mode: lighten;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#classics:hover {
  grid-area: classics;
  background-color: var(--layover-color);
  background-image: url(../images/car5.webp);
  background-blend-mode: lighten;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.8;
  cursor: pointer;
}

#new-era {
  grid-area: new-era;
  background-color: var(--layover-color);
  background-image: url(../images/muffler.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#new-era:hover {
  grid-area: new-era;
  background-color: var(--layover-color);
  background-image: url(../images/muffler.jpg);
  background-blend-mode: lighten;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.5;
  cursor: pointer;
}

.models {
  grid-area: models;
  background-color: var(--action-color);
  background-image: url(../images/carside2.jpg);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.models:hover {
  grid-area: models;
  background-color: var(--action-color);
  background-image: url(../images/carside2.jpg);
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.8;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: white;
}

select {
  margin-left: 40px;
  height: 40px;
  width: 200px;
  background-color: #a1460e15;
  color: rgba(255, 255, 255, 0.775);
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  background-blend-mode: screen;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
a {
  margin-top: 100px;
  height: 15px;
  width: 15px;
}
a:hover {
  opacity: 0.5;
  cursor: pointer;
}
strong {
  margin-top: 100px;
}
#footerP {
  margin-top: 118px;
}

@media only screen and (max-width: 580px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 2.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "header"
      "main"
      "models"
      "classics"
      "new-era"
      "footer";
  }
}
